<% if(locals.clients) { %> 
	<div class="input-group mb-3">
				<input
					type="text"
					class="form-control"
					placeholder="Search"
					aria-label="Search"
					aria-describedby="basic-addon2"
					name="search"
					id="search"
				/>
				<span
					class="input-group-text"
					id="basic-addon2"
					><i class="bi bi-search"></i
				></span>
			</div>
	<div
		id="clients-table"
		class="table table-responsive w-100 d-block d-md-table"
	>
		<div class="table-head">
			<div class="th">Name</div>
			<div class="th">Phone</div>
			<div class="th">Email</div>
			<div class="th">Assigned to</div>
			<div class="th">&nbsp;</div>
		</div>
		<!-- End Table Head-->

		<div class="table-body">
			<% for(client of clients) { console.log("client", client);%>



			<div class="table-row <%= (client.c_is_active == 0) ? 'inactive' : '' %>">
				<div class="table-cell  align-middle ">
					<%= client.c_first_name %> <%= client.c_surname %>
				</div>
				<div class="table-cell  align-middle ">
					<%= formatPhoneNumber(client.c_phone) %>
				</div>
				<div class="table-cell  align-middle ">
					<a href="mailto:<%= client.c_email %>"><%= client.c_email %></a>
				</div>
				<div class="table-cell  align-middle ">
					<% if(client.t_first_name != null){ %>
					<%= client.t_first_name %> <%= client.t_surname %>
					<%}%>
				</div>
				<div class="table-cell  align-middle  view-single">
					<a
						href="/client/<%= client.c_ID %>"
						title="view client"
						><i class="bi bi-eye"></i
					></a>
				</div>
			</div>

			<% } %>
		</div>
		<!-- End table body-->
	</div>
	<!-- End Table-->

	<% } %>
	