<% if(locals.t_client) { %> <% const cl = t_client[0]; %>
    <div class="row client-row t-row d-flex justify-content-between">
        <h3 class="">
            <%= dataDecrypt(cl.c_first_name) %> <%= dataDecrypt(cl.c_surname) %> 
            <% if (cl.t_first_name != null) { %>
             <span class="tone-down">Assigned to:</span> <a href="/therapist/<%= cl.t_ID %>"><%= dataDecrypt(cl.t_first_name) %> <%= dataDecrypt(cl.t_surname) %></a>
             <% } %>
        </h3>
        <h3 class="col-2 ">
            <% let activeChecked = (cl.c_is_active == 1)?'checked':''  %>
            <button id="client_active" class="btn <%=  (cl.c_is_active == 1) ? 'btn-primary' : 'btn-secondary' %>" value="<%= cl.c_ID  %>" data-bs-original-title="<%=  (cl.c_is_active == 1) ? 'Deactivate' : 'Activate' %>"><i class="bi <%=  (cl.c_is_active == 1) ? 'bi-person-fill-check' : "bi-person-fill-x" %>"></i> <%=  (cl.c_is_active == 1) ? 'Active' : 'Inactive' %></button>
        </h3>
        
        <h3 class="col-3 edit-icon">
            <a href="/client/<%= cl.c_ID %>/edit"><i class="bi bi-pencil"></i></a>
        </h3>
    </div>
    <div class="row d-flex justify-content-between">
        <p class="col-3"><strong>Phone</strong>: <%= formatPhoneNumber(dataDecrypt(cl.c_phone)) %></p>
        <p class="col-6"><strong>Email</strong>: <a href="mailto:<%= dataDecrypt(cl.c_email) %>"><%= dataDecrypt(cl.c_email) %></a></p>
    </div>
    <div class="row d-flex justify-content-between">
        <p class="col-6"><strong>Enquiry Date</strong>: <%= formatDate(cl.c_enquiry_date) %></p>
        <p class="col-6"><strong>Referral</strong>: <%= cl.r_referral %></p>
    </div>
    <% if (cl.c_low_cost_employment  == 1) { %>
    <div class="row t-row d-flex justify-content-between">
        <h3>Assessed by: 
            
            <% if (locals.t_client_assessed_by && cl.c_assessed_by != null  ) { %>
                <a href="/therapist/<%= t_client_assessed_by[0].at_ID %>"><%= dataDecrypt(t_client_assessed_by[0].at_first_name) %> <%= dataDecrypt(t_client_assessed_by[0].at_surname) %></a>
            <% } %>

            <% if(cl.c_assessment_date != null){ %>
                <span class="assessment-date"> on <%= formatDate(cl.c_assessment_date) %></span>
            <% } %>
        </h3> 

        <div class="row  w-100 d-block d-flex justify-content-between">
            <div class="col-4 align-items-center">
                <% if (cl.c_low_cost_employment  == 1) { %>
                    <i class="bi bi-check agreed"></i>  
                <% } else { %>
                    <i class="bi bi-x denied"></i>
                <% } %>
                Low Cost
            </div>
            
            <div class="col-4 align-items-center">
                <% if (cl.c_research_participation == 1) { %>
                    
                    <i class="bi bi-check agreed"></i>  
                <% } else { %>
                    <i class="bi bi-x denied"></i>
                <% } %>
                    
               
                Research Participation
            </div> 
            <div class="col-4 align-items-center">
                <% if (cl.c_details_sent_to_claire == 1) { %>
                    
                    <i class="bi bi-check agreed"></i>  
                <% } else { %>
                    <i class="bi bi-x denied"></i>
                <% } %> 
                    
                
                Details Sent to Claire
            </div>  
        </div>
    </div>
    <% } %>

    <%
    if(locals.requestedTherapyTypes && requestedTherapyTypes.length >= 1){
    %>
        <div class="row t-row d-flex justify-content-between">
            <h3 class="col-6">Therapy Types Requested</h3>
            <ul>
            <% for(let i=0; i<requestedTherapyTypes.length; i++){ %>    
                 <li><%= requestedTherapyTypes[i].q_qualification %></li> 
            <% } %>      
            </ul>
        </div>
    <% } %>
    
        <% if(locals.appointments && appointments.length >= 1){ %>
    <div class="row t-row d-flex justify-content-between">
        <h3 class="col-6">Appointments</h3>    
        <div class="table-responsive">
            <table
                id="appointments-table"
                class="table"
            >
                <thead class="table-head">
                    <tr>
                        <th class="th">&nbsp;</th>
                        <th class="th" id="appointment-date">Date&nbsp;&amp;&nbsp;Time</th>
                        <th class="th">Fee</th>
                        <th class="th">Paid</th>
                        <th class="th">Payment Type</th>
                    </tr>
                </thead>
                

                <tbody class="table-body">
                    <% for(appointment of appointments) { %>
                        
                    <tr class="table-row <%= (appointment.a_is_cancelled == 1) ? "cancelled-appointment" : ""%>" data-appointment="<%= appointment.a_ID %>"> 
                        <td class="table-cell align-middle appointment-colour">
                            <div
                                data-id="<%= appointment.a_ID %>"
                                class="colour-circle"
                                style="background-color: <%= appointment.t_colour %>"
                                <% if(appointment.a_is_cancelled == 1) { %>
                            data-bs-toggle="tooltip" data-bs-title="Cancelled:  Cancelled"
                                <% } %>
                            >
                            <i class="bi bi-eye"></i>
                            </div>
                        </td>
                        <td class="table-cell align-middle appointment-date sorter-shortDate" data-date-format="ddmmyyyy">
                            <div class="">
                                <%= formatDate(appointment.a_date) %> <%=
                                appointment.a_start_time %>&nbsp;-&nbsp;<%=
                                appointment.a_end_time%>
                            </div>
                        </td>
                        <td class="table-cell align-middle appointment-fee">
                            &euro;<%= appointment.a_client_fee %>
                        </td>
                        <td class="table-cell align-middle appointment-paid">
                            <%
                            let paidClass = (appointment.a_is_paid == 1)? 'paid': "not-paid";					
                            %>
                            <span class="<%=paidClass%>" title="paid" data_id="<%= appointment.a_ID %>"><i class="bi bi-cash"></i></span>
                        </td>

                        
                        <td class="table-cell align-middle payment-type">
                            
                               
                                    <% 
                                        let icon = 'hourglass';
                                        

                                        switch(appointment.a_payment_type){
                                            case parseInt(process.env.BANK):
                                                icon='bank';
                                                break;
                                            case parseInt(process.env.CARD):
                                                icon='credit-card';
                                                break;
                                            case parseInt(process.env.LINK):
                                                icon='link';
                                                break;	
                                            default:
                                                break;
                                        }
                                    %>
                                    <i class="bi bi-<%=icon%>"></i>
                               
                               
                           
                                
                                    
                                    
                        </td>
                        
                       
                        


                        
                    </tr>
                    <% } %>
                </tbody>
                <!-- End table body-->
            </table>
        </div>
        <!-- End Table-->    
    </div>
        <% } %> 

    <div class="row t-row d-flex justify-content-between">
        <h3 class="col-6">Files</h3>
        <h3 class="edit-icon col-3">
            <a href="<%=cl.c_ID%>" id="open-file-modal" data-bs-toggle="modal" data-bs-target="#filesModal"><i class="bi bi-file-earmark-plus"></i></a>
        </h3>
       
            <% if(locals.files){ %>
                
                    <div class="table files-table table-responsive w-100 d-block d-md-table">
                        <div class="table-head">
                            <div class="th">File name</div>
                            <div class="th">Date</div>
                        </div>
                        <div class="table-body">
                            
                        <%  for(let i=0; i<files.length; i++){ %>
    
                            <% let uploadDate = formatDate(files[i].cf_file_upload_date); %>
                            <div class="table-row">
                                <div class="table-cell">
                                    <a href="/file/clients/<%= cl.c_ID %>/<%= files[i].cf_file_name %>"> <%- formatFileType(files[i].cf_file_name) %> <%= files[i].cf_file_name %></a>   
                                </div> 
                                <div class="table-cell upload-date">  
                                    <%= uploadDate %>
                                </div> 
                            </div>    
                                
                        <% } %>   
                            
                        </div> 
                    </div>
              
            <% } %>   
       
        
    </div>


    
    <div class="row t-row d-flex justify-content-between">
        <h3 class="col-6">Notes</h3>
        <h3 class="edit-icon col-3">
            <a href="<%=cl.c_ID%>" id="open-note-modal" data-bs-toggle="modal" data-bs-target="#notesModal"><i class="bi bi-sticky"></i></a>
        </h3>
    
        <% if(locals.notes){ %>
                
            <div class="table notes-table table-responsive w-100 d-block d-md-table">
                <div class="table-head">
                    <div class="th">Note</div>
                    <div class="th">Date</div>
                </div>
                <div class="table-body">
                    
                <%  for(let i=0; i<notes.length; i++){ %>
    
                    <% let noteDate = formatDate(notes[i].cn_date); %>
                    <div class="table-row">
                        <div class="table-cell">
                            <%= htmlUnescape(dataDecrypt(notes[i].cn_note)) %>
                        </div> 
                        <div class="table-cell upload-date">  
                            <%= noteDate %>
                        </div> 
                    </div>    
                        
                <% } %>   
                    
                </div> 
            </div>
      
    <% } %>   
        
    </div>
    
    <% } %>

<div class="modal" id="notesModal"  aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">

     
      <div class="modal-header">
        <h4 class="modal-title">Add Note</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

   
      <div class="modal-body">
        <%- include('./addclientnote'); %>
      </div>

   
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="save-client-note" data-bs-dismiss="modal">Save</button>
      </div>

    </div>
  </div>
</div>


<div class="modal" id="filesModal"  aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">

     
      <div class="modal-header">
        <h4 class="modal-title">Add File</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

   
      <div class="modal-body">
        <%- include('./addclientfile'); %>
      </div>

   
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="save-client-file" data-bs-dismiss="modal">Save</button>
      </div>

    </div>
  </div>
</div>
