<% 
let appointment; 
if(locals.appointmentDetails){
    appointment = appointmentDetails[0];
}  
console.log('appointment >>',appointment);
%>






<form action="#" method="post" id="update-appointment-form">

   
    <div class="appointment-buttons d-flex justify-content-end">
        <button class="btn btn-primary me-3" data-id="<%= appointment.a_ID %>" id="cancel-appointment-button"><%=(appointment.a_is_cancelled == 0) ? 'Cancel' : 'Uncancel' %></button>
        <button class="btn btn-primary delete">Delete</button>
    </div>

    <div class="alert alert-danger  hide" role="alert">
        <div class="d-flex align-items-center justify-content-between">
            <i class="bi bi-exclamation-triangle-fill"></i>
            <div>
              Are you sure?
            </div>
            <button class="btn bg-danger align-items-center" id="delete-appointment" data-id="<%= appointment.a_ID %>">Yes Delete</button>
        </div>
      </div>

    <div class="appointment-cancelled hide">
        <label for="cancellation_reason" class="form-label">Reason for cancelling this appointment</label>
        <textarea class="form-control" id="cancellation_reason" name="cancellation_reason" rows="5"><%= (appointment.a_cancellation_reason!="TypeError: Invalid initialization vector" && appointment.a_cancellation_reason!='Error: value must not be null or undefined') ? appointment.a_cancellation_reason : '' %></textarea> 
        <input type="checkbox" value="1" id="canceled_needs_payment" name="canceled_needs_payment" <%=(appointment.a_needs_payment == 1) ? 'checked' : '' %>> <label for="canceed_needs_payment">Needs payment</label> 
        <input type="checkbox" value="1" id="cancel_all_future_appointments" name="cancel_all_future_appointments"> <label for="cancel_all_future_appointments">Cancel all future appointments</label> 
        <input type="hidden" name="client" value="<%= appointment.a_client %>"> 
        <input type="hidden" name="therapist" value="<%= appointment.a_therapist %>"> 
    </div>

   
    <input type="hidden" value="<%=appointment.a_ID %>" name="appointmentID" >
    
    <div class="forms-inputs mb-4">
        <label for="clients" class="form-label"><i class="bi bi-person"></i> Client</label>
        <select name="clients" id="clients" class="form-select" aria-label="Client">
            <option value="-1" selected>Select a client</option>
            <% if(locals.clients && clients.length >= 1){ %>
                <% for(let i=0; i<clients.length; i++){ %>
                    <% let client = clients[i]; %>
                    <option value="<%= client.c_ID %>" <%= (client.c_ID == appointment.a_client) ? 'selected' : '' %>><%= client.c_first_name + " " + client.c_surname %></option>
                <% } %>
            <% } %>
        </select>
    </div>

    <div class="forms-inputs mb-4">
        <label for="therapists" class="form-label"><i class="bi bi-person-fill"></i> Therapist</label>
        <select name="therapists" id="therapists" class="form-select" aria-label="Therapist">
            <option value="-1" selected>Select a therapist</option>
            <% if(locals.therapists && therapists.length >= 1){ %>
                <% for(let i=0; i<therapists.length; i++){ %>
                    <% let therapist = therapists[i]; %>
                    <option value="<%= therapist.t_ID %>"  <%= (therapist.t_ID == appointment.a_therapist) ? 'selected' : '' %>><%= therapist.t_first_name + " " + therapist.t_surname %></option>
                <% } %>
            <% } %>
        </select>
    </div>    

    <div class="mb-4">
        <label for="date" class="form-label">Date</label>
        <input type="date" class="form-control" id="date" name="date" value="<%= appointment.a_date %>">
    </div>

    <div class="mb-4 d-flex justify-content-between">
        <div class="col-6">
            <label for="start_time" class="form-label">Start Time</label>
            <input type="time" class="form-control" name="start_time" id="start_time" value="<%= appointment.a_start_time %>">
        </div>
        
        <div class="col-5">
            <label for="end_time" class="form-label">End Time</label>
            <input type="time" class="form-control" id="end_time" name="end_time" value="<%= appointment.a_end_time %>">
        </div>

    </div> 
    <div class="mb-4 d-flex justify-content-between">
        <div class="col-6">
            <label for="room" class="form-label">Room</label>
            <input type="text" class="form-control" id="room" name="room" placeholder="Room Number" value="<%= appointment.a_room %>">
        </div>
    </div>

    <div class="mb-4 d-flex">
        <div class="col-12 d-flex">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="isreferral" name="isreferral" <%=(appointment.a_is_referral == 1)? 'checked':'' %>>
                <label class="form-check-label" for="isreferral">Renter Referral</label>
            </div>
            <div class="col-1">&nbsp;</div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="needspayment" name="needspayment" <%=(appointment.a_needs_payment == 1)? 'checked':'' %>>
                <label class="form-check-label" for="needspayment">Needs Payment</label>
            </div>
        </div>
    </div>

    <div class="mb-4 d-flex justify-content-between">    
        <div class="col-3">
            <label for="client_fee" class="form-label">Client Fee</label>
            <input type="number" class="form-control" id="client_fee" name="client_fee" placeholder="&euro;" value="<%= appointment.a_client_fee %>">
        </div>
        <div class="col-3">
            <label for="therapist_fee" class="form-label">Therapist Fee</label>
            <input type="number" class="form-control" id="therapist_fee" name="therapist_fee" placeholder="&euro;" value="<%= appointment.a_therapist_fee %>">
        </div>
        <div class="col-4">
            <label for="elmwood_fee" class="form-label">Elmwood Fee</label>
            <p id="elmwood_fee" name="elmwood_fee" value="<%= appointment.a_room %>">&euro;</p>
        </div>
    </div>

    <!-- <div class="mb-4">
        <label for="repeat" class="form-label"><i class="bi bi-repeat"></i> Repeat Weeks</label>
        <input type="number" class="form-control" id="repeat" name="repeat" placeholder="0">
    </div> -->

    <% if(locals.saveButton){ %>
        
            <div class="alert alert-success ms-3 hide" id="appointment-edit-success" role="alert">
                Appointment changes saved.
            </div>
            <button  type="button" class="btn btn-primary"  id="submit-update-appointment">Save</button>
            
        

    <% } %>
</form>
