<div class="row">  
    <div class="col"><a class="btn button client-nav-button <%= (locals.individuals)?'active':'' %>" href="/clients_individuals">Individuals</a></div>
    <div class="col"><a class="btn button client-nav-button <%= (locals.trainee)?'active':'' %>" href="/clients_low_cost_trainees">Low Cost Trainee Therapist</a></div>
    <div class="col"><a class="btn button client-nav-button <%= (locals.precred)?'active':'' %>" href="/clients_low_cost_precreds">Low Cost Precred Therapist</a></div>
    <div class="col"><a class="btn button client-nav-button <%= (locals.couples)?'active':'' %>" href="/clients_couples_families">Couples/Families</a></div>
</div>  
<div class="row"> 
    <div class="col"><a class="btn button client-nav-button <%= (locals.fiona)?'active':'' %>" href="/clients_fiona">Fiona</a></div>
    <div class="col"><a class="btn button client-nav-button <%= (locals.deborah)?'active':'' %>" href="/clients_deborah">Deborah</a></div>
    <div class="col"><a class="btn button client-nav-button <%= (locals.under18s)?'active':'' %>" href="/clients_under18s">Under 18s</a></div>
</div>